{% load i18n %}
{% load analytical %}
<!DOCTYPE html>
<html>
<head>
    {% analytical_head_top %}
    <!-- Title -->
    <title>{% block title %}{{ TITLE }}{% endblock %}</title>

    <!-- Meta Information -->
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width"/>
    <meta name="description" content="Description"/>

    <!-- Links -->
    <link rel="stylesheet" type="text/css" media="all" href="{{ STATIC_URL }}css/styles.css"/>
    <!--
    <link rel="pingback" href="" />
    <link rel="profile" href="http://gmpg.org/xfn/11"/>
    -->
    <link rel="profile" href="http://microformats.org/profile/hcard">
    <link rel="shortcut icon" href="http://bastianthemes.phpublic.de/ultimate/images/favicon.png"/>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/functions.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.flexslider-min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.jplayer.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.timeago.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.timeago.{{ LANGUAGE_CODE }}.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/main.js"></script>
    {% analytical_head_bottom %}
</head>
<body class="no-js">
{% analytical_body_top %}
<div class="container">
    <div class="four columns">
        <!-- <a href="index.html"><img src="images/logo.png" alt="logo" class="logo" /></a> -->
        <br/>

        <div id="sidebar">
            <div class="widget profile">
                <article class="vcard">
                    <div>
                        <p>Hello<br>my name is</p>
                    </div>
                    <div class="fn">
                        <p class="given-name">Гречишкин Алексей</p>
                        <p title="{% trans "also known as" %}">AKA</p>
                        <address class="nickname">AlexSnet</address>
                        <address class="nickname">MYPABEU</address>
                    </div>
                </article>
                <br />
                <br />
            </div>

            <div class="widget">
                <form method="get" action="/" >
                    <input type="submit" id="widget-submit" value="" disabled="1"/>
                    <input type="text" id="widget-search" name="q" disabled="1"/>
                </form>
            </div>

            <div class="widget menu">
                <ul>
                    <li><a href="{% url mainpage %}" class="clearfix">{% trans "Home" %}</a></li>
                    <!--
                    <li><a href="style.html" class="clearfix">Styles</a></li>
                    <li><a href="page.html" class="clearfix">Post</a></li>
                    <li><a href="contact.html" class="clearfix">Contact</a></li>
                    -->
                </ul>
            </div>

            <div class="widget menu" id="twitter">
                <h3>Twitter</h3>
                <ul>
                </ul>
            </div>

            <!--
            <div class="widget text">
                <h3>Text Widget</h3>

                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
                    labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam.</p>
            </div>
            <div class="widget tags">
                <h3>Tags Widget</h3>
                <ul>
                    <li><a href="#">New</a></li>
                    <li><a href="#">Features</a></li>
                    <li><a href="#">Files</a></li>
                    <li><a href="#">Stylesheet</a></li>
                    <li><a href="#">Design</a></li>
                    <li><a href="#">Code</a></li>
                </ul>
            </div>

            <div class="widget comments">
                <h3>Comments Widget</h3>
                <ul>
                    <li>Klaus on <a href="#">Mioaw Music</a></li>
                    <li>Gina on <a href="#">Arichtecture</a></li>
                    <li>Jeff on <a href="#">Music Player</a></li>
                </ul>
            </div>
            -->
        </div>
    </div>
    <div class="twelve columns">
        <div id="wrapper">
            <div id="content">
                {% block content %}
                {% endblock %}
                <div id="footer" class="clearfix">
                    <p class="alignleft">Информация не защищена, копируется свободно, но было бы неплохо, если при копировании информации с этого сайта Вы указывали ссылку на источник.</p>
                    <p class="aligncenter">Спасибо.</p>
                    <p class="alignright"><a href="http://alexsnet.ru">Alex Snet</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Twitter -->
<script type="text/javascript" src="http://api.twitter.com/1/statuses/user_timeline.json?screen_name=mypabeu&count=3&include_rts=true&callback=twitter_timeline"></script>
{% analytical_body_bottom %}
</body>
</html>

