{% extends "base.html" %}
{% load i18n %}

{% block title %}{{ post.title }}{{ block.super }}{% endblock %}
{% block content %}
    <div class="post-wr">
        {% if post.cover %}
        <div class="post-thumbwr">
            <img src="{{ MEDIA_URL }}{{ post.cover }}" alt="{{ post.title }}" class="post-thumbnail"/>
        </div>
        {% endif %}
        <a href="{{ post.get_absolute_url }}" class="post-title">
            <h2>{{ post.title }}</h2>
        </a>
        <div class="post-content">
            {{ post.text_render|safe }}
        </div>
        <ul class="post-stats">
            <li class="subr" title="You are subscribed to this post"><span></span></li>
            <li class="fire" title="This post is popular"><span></span></li>
            <li class="comt" title="You commented on this post"><span></span></li>
            <li class="like" title="You like this post"><span></span></li>
            <li class="stats-line"></li>
        </ul>
    </div>
{##}
{#    <div class="post-wr">#}
{#        <h3>3 Comments</h3>#}
{#        <ul id="comments-list">#}
{#            <li class="comment clearfix">#}
{#                <img class="comment-img" src="http://1.gravatar.com/avatar/7acf7896709c1c77c02720a00ac21cb2?s=40" alt="Name">#}
{#                <div class="comment-content">#}
{#                    <div class="comment-meta">#}
{#                        <span class="comment-name">Jeff Wiliams</span>#}
{#                        <span class="comment-date">1 day ago</span>#}
{#                    </div>#}
{#                    <p>Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut.</p>#}
{#                </div>#}
{#                <ul class="children clearfix">#}
{#                    <li class="comment clearfix">#}
{#                        <img class="comment-img" src="http://1.gravatar.com/avatar/7acf7896709c1c77c02720a00ac21cb2?s=40" alt="Name">#}
{#                        <div class="comment-content">#}
{#                            <div class="comment-meta">#}
{#                                <span class="comment-name">Gina Smith</span>#}
{#                                <span class="comment-date">2 days ago</span>#}
{#                            </div>#}
{#                            <p>Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut.</p>#}
{#                        </div>#}
{#                    </li>#}
{#                </ul>#}
{#            </li>#}
{#            <li class="comment clearfix">#}
{#                <img class="comment-img" src="http://1.gravatar.com/avatar/7acf7896709c1c77c02720a00ac21cb2?s=40" alt="Name">#}
{#                <div class="comment-content">#}
{#                    <div class="comment-meta">#}
{#                        <span class="comment-name">Marco Johnson</span>#}
{#                        <span class="comment-date">2 days ago</span>#}
{#                    </div>#}
{#                    <p>Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut.</p>#}
{#                </div>#}
{#            </li>#}
{#        </ul>#}
{#    </div>#}
{% endblock %}