{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "posts" %}{{ block.super }}{% endblock %}
{% block content %}
    {% for post in posts %}
        <div class="post-wr">
            <div class="post">
                <a href="{{ post.get_absolute_url }}" class="post-title">
                    <h3>{{ post.title }}</h3>
                </a>
                {% if post.cover %}
                <div class="post-thumbwr">
                    <img src="{{ MEDIA_URL }}{{ post.cover }}" alt="{{ post.title }}" class="post-thumbnail"/>
                </div>
                {% endif %}
                {% if post.preview_render %}
                <div class="post-content">
                    {{ post.preview_render|safe }}
                </div>
                {% endif %}
            </div>
            <div class="post-mt">
                <span class="dr"><a href="">Standard</a>, Text</span>
                <span class="dt"><abbr class="timeago" title="{{ post.publish_date|date:"c" }}">{{ post.publish_date|date:"D d M Y" }}</abbr></span>
            </div>
        </div>
    {% empty %}

    {% endfor %}
{% endblock %}