/*------------------------------------------------------------------------------*/
/*	Theme Name: Steel
	Theme URI: http://themeforest.net/
	Description: Super awesome Wordpress theme.
	Author: Graphicure & BastianHofmann
	Author URI: http://themeforest.net/user/Graphicure
	Version: 1.0

/*------------------------------------------------------------------------------*/
/*
	1. Resets & clearfix
	2. Basic Styles

/*------------------------------------------------------------------------------*/

/* 1. Resets & clearfix - http://meyerweb.com/eric/tools/css/reset/
================================================== */

	html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, ul, ol { margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; vertical-align: baseline; background: transparent; } body { line-height: 1; } blockquote, q { quotes: none; } blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; } :focus { outline: 0; } ins { text-decoration: none; } del { text-decoration: line-through; } table { border-collapse: collapse; border-spacing: 0; } ul, ol { list-style: none; }

	.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; } .clearfix { display: inline-block; } /* Hide from IE Mac \*/ .clearfix { display: block; } /* End hide from IE Mac */ .none { display: none; } /* End Clearfix */

/* 2. Basic Styles
================================================== */

	body {
		background-color: #f3f3f3;
		font: 13px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
		line-height: 1.6em;
		color: #545557;
	}

    p {
        font: 14px "HelveticaNeue-Light", 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;;
        line-height: 22px;
    }

    a {
        color: #545557;
        text-decoration: none;
        font-weight: bold;

        -webkit-transition: color .1s linear;
        -moz-transition: color .1s linear;
        -o-transition: color .1s linear;
        -ms-transition: color .1s linear;
        transition: color .1s linear;
    }

    a:hover {
        color: #5e8cbc;
    }

	h1, h2, h3, h4, h5, h6 { color: #0a0a0a; font-weight: bold; margin-bottom: 8px; }
	h1 { font-size: 22px; margin-bottom: 16px; }
	h2 { font-size: 18px; margin-bottom: 14px; }
	h3 { font-size: 16px; margin-bottom: 12px; }

    .hidden { display: none; }

    .alignleft { float: left; }

    .alignright { float: right; }

    .aligncenter {
        margin-left: auto;
        margin-right: auto;
        display: block;
        clear: both;
    }

    input[type="text"],
    input[type="password"],
    input[type="email"],
    textarea {
        width: 100%;
        padding: 6px 10px;
        box-sizing: border-box;
        ms-box-sizing: border-box;
        webkit-box-sizing: border-box;
        moz-box-sizing: border-box;
        margin-bottom: 20px;

        outline: none;
        -moz-border-radius: 2px;
        -webkit-border-radius: 2px;
        border-radius: 2px;
        font: 12px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
        border: 1px solid #ddd;
        color: #8e8e8e;
        background-color: #f8f8f8;
        box-shadow: 0 5px 5px #f3f3f3 inset;
    }

    input[type="text"]:focus,
    input[type="password"]:focus,
    input[type="email"]:focus,
    textarea:focus {
        border: 1px solid #d1d1d1;
        box-shadow: 0 5px 5px #eee inset;
    }

    .button,
    button,
    input[type="submit"],
    input[type="reset"],
    input[type="button"] {
        background: #4590de; /* Old browsers */
        background: -moz-linear-gradient(top, #4791df 0%, #4189d6 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #4791df), color-stop(100%,#4189d6)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, #4791df 0%,#4189d6 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top, #4791df 0%,#4189d6 100%); /* Opera11.10+ */
        background: -ms-linear-gradient(top, #4791df 0%,#4189d6 100%); /* IE10+ */
        background: linear-gradient(top, #4791df 0%,#4189d6 100%); /* W3C */
        border: 1px solid #357eca;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        border-radius: 3px;
        color: #fff;
        display: inline-block;
        font-size: 12px;
        font-weight: normal;
        text-decoration: none;
        cursor: pointer;
        margin-bottom: 20px;
        line-height: normal;
        padding: 8px 12px;
        margin-bottom: 20px;
        margin-right: 10px;
    }

    .button:hover,
    button:hover,
    input[type="submit"]:hover,
    input[type="reset"]:hover,
    input[type="button"]:hover {
        background: #387ec6;
        color: #eee;
    }

    /* Orange */
    .button.orange,
    button.orange,
    input[type="submit"].orange,
    input[type="reset"].orange,
    input[type="button"].orange {
        background: #f09d31; /* Old browsers */
        background: -moz-linear-gradient(top, #f09d31 0%, #e99830 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f09d31), color-stop(100%,#e99830)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, #f09d31 0%,#e99830 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top, #f09d31 0%,#e99830 100%); /* Opera11.10+ */
        background: -ms-linear-gradient(top, #f09d31 0%,#e99830 100%); /* IE10+ */
        background: linear-gradient(top, #f09d31 0%,#e99830 100%); /* W3C */
        border: 1px solid #e6962e;
    }

    .button.orange:hover,
    button.orange:hover,
    input[type="submit"].orange:hover,
    input[type="reset"].orange:hover,
    input[type="button"].orange:hover {
        background: #e6962e;
    }

    /* Red */
    .button.red,
    button.red,
    input[type="submit"].red,
    input[type="reset"].red,
    input[type="button"].red {
        background: #f05e31; /* Old browsers */
        background: -moz-linear-gradient(top, #f05e31 0%, #ea592c 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f05e31), color-stop(100%,#ea592c)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, #f05e31 0%,#ea592c 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top, #f05e31 0%,#ea592c 100%); /* Opera11.10+ */
        background: -ms-linear-gradient(top, #f05e31 0%,#ea592c 100%); /* IE10+ */
        background: linear-gradient(top, #f05e31 0%,#ea592c 100%); /* W3C */
        border: 1px solid #e45226;
    }

    .button.red:hover,
    button.red:hover,
    input[type="submit"].red:hover,
    input[type="reset"].red:hover,
    input[type="button"].red:hover {
        background: #e45226;
    }

    /* Fix for odd Mozilla border & padding issues */
    button::-moz-focus-inner,
    input::-moz-focus-inner {
        border: 0;
        padding: 0;
    }

/* Content
================================================== */

    #wrapper {
        display: block;
        width: 100%;
        padding-right: 20px;
        border-right: 40px solid #323337;
    }

	#content {
		position: relative;

		background: #fff;
		border-left: 1px solid #ddd;
		border-right: 1px solid #ddd;
	}

    #content .post-content p {
        margin-bottom: 20px;
    }

    #content .post-content p:last-child {
        margin-bottom: 0;
    }

	#content .post-wr {
        position: relative;
		padding: 20px;
		border-bottom: 1px solid #ddd;
	}

	#content .post {
		padding-top: 15px;
		border: 1px solid #ddd;
		box-shadow: 0 2px 3px rgba(0,0,0,0.05);
		-moz-border-radius: 2px;
		-webkit-border-radius: 2px;
		border-radius: 2px;
	}

	#content a.post-title {
        text-decoration: none;
	}

    #content .post-title h3 {
        display: inline-block;
        margin: 0 10px 8px 0;
    }
    #content .post .post-title h3 { margin-left: 10px; }

    #content .post-content {
        padding: 0 10px 15px 0;
    }
    #content .post .post-content { margin-left: 10px; }

    #content .post-content blockquote {
        font: 18px georgia, serif;
        font-style: italic;
        line-height: 1.5em;
    }

	#content img.post-thumbnail {
		display: block;
        width: 100%;
	}

    #content .post-thumbwr {
        position: relative;
        overflow: hidden;
        margin-bottom: 15px;
    }

    /* Post stats */
    #content ul.post-stats {
        position: absolute;
        top: 20px;
        right: -50px;
        width: 19px;
        padding-bottom: 10px;

        background: url(images/stats-last.png) bottom center no-repeat;
        overflow: hidden;
    }

    #content ul.post-stats li {
        position: relative;
        z-index: 101;
        width: 19px;
        height: 19px;
        background-color: #6b6b6b;
        border-radius: 10px;
        margin-top: 11px;
        cursor: pointer;
    }
    #content ul.post-stats li:first-child { margin-top: 8px; }

    #content ul.post-stats .stats-line {
        z-index: 99;
        position: absolute;
        top: 0;
        left: 7px;
        height: 185px;
        width: 8px;
        background: url(images/stats-bg.png) no-repeat;
    }

    #content ul.post-stats li span {
        position: relative;
        top: 4px;
        left: 4px;
        display: block;
        width: 10px;
        height: 10px;
    }
    #content ul.post-stats li.fire span { background: url(images/fire.png) center center no-repeat; }
    #content ul.post-stats li.fire:hover { background-color: #f05e31; }

    #content ul.post-stats li.comt span { background: url(images/comt.png) center center no-repeat; }
    #content ul.post-stats li.comt:hover { background-color: #5e8cbc; }

    #content ul.post-stats li.subr span { background: url(images/subr.png) center center no-repeat; }
    #content ul.post-stats li.subr:hover { background-color: #f09d31; }

    #content ul.post-stats li.like span { background: url(images/like.png) center center no-repeat; }
    #content ul.post-stats li.like:hover { background-color: #ea4c4c; }

    /* Comments */
    #content #comments-list .comment {
        display: block;
        width: 100%;
        padding-bottom: 20px;
        margin-bottom: 20px;
        border-bottom: 1px solid #ddd;
    }

    #content #comments-list .comment:last-child {
        padding-bottom: 0;
        margin-bottom: 0;
        border-bottom: none;
    }

    #content #comments-list .comment-img {
        float: left;
        width: 40px;
    }

    #content #comments-list .comment-content {
        width: 480px;
        margin-left: 20px;
        float: left;
    }

    #content #comments-list .comment-meta {
        padding-bottom: 5px;
        margin-bottom: 10px;
        border-bottom: 1px solid #ddd;
    }

    #content #comments-list span.comment-name {
        font-weight: bold;
        color: #545557;
        font-size: 14px;
    }

    #content #comments-list .children .comment {
        margin-top: 30px;
        margin-left: 60px;
        float: left;
    }

	#content .post-mt {
		padding: 5px 10px;
		margin: 0 10px;
		background-color: #f8f8f8;
		border: 1px solid #ddd;
        border-top: none;
        color: #8e8e8e;
        font-size: 10px;
	}
    #content .post-mt span {
        display: inline-block;
        margin-right: 10px;
        padding-left: 12px;
        line-height: 8px;
    }
    #content .post-mt span.dr { background: url(images/icon-book.png) no-repeat; }
    #content .post-mt span.dt { background: url(images/icon-calendar.png) no-repeat; }
    #content .post-mt span.at { background: url(images/icon-author.png) no-repeat; }

	#content .noti-wr {
		padding: 20px 0;
		border-bottom: 1px solid #ddd;
	}

	#content .noti {
		padding: 15px 20px;
		border-bottom: 1px solid #ddd;
		border-top: 1px solid #ddd;
		background-color: #f3f3f3;
		font-weight: bold;
	}

    #content .noti .button {
        margin: 0;
    }

    #content .noti p {
        margin: 5px 0;
    }

/* Sidebar
================================================== */

	.logo {
		display: block;
		margin: 20px auto;
	}

	#sidebar {
		background: #fff;
		border: 1px solid #ddd;
        border-bottom: none;
	}

    #sidebar ul li {
        margin-left: 15px;
        list-style: square;
    }

	#sidebar .widget {
		position: relative;
		padding: 20px;
		border-bottom: 1px solid #ddd;
	}

	#sidebar .widget #widget-submit {
		position: absolute;
		bottom: 27px;
		right: 26px;
		height: 14px;
		padding: 0 7px;
        margin: 0;

		background: url(images/return.png) center center no-repeat;
		-moz-border-radius: 2px;
		-webkit-border-radius: 2px;
		border-radius: 2px;
		border: 1px solid #c4c4c4;
		background-color: #fff;
        cursor: pointer;
	}

    #sidebar .widget #widget-search {
        margin: 0;
    }

    #sidebar .widget.menu ul {
        border-top: 1px solid #ddd;
        border-right: 1px solid #ddd;
    }

    #sidebar .widget.menu li {
        list-style: none;
        padding: 5px 0 5px 5px;
        margin: 0;
        border-bottom: 1px solid #ddd;
        border-left: 3px solid #eee;
    }

    #sidebar .widget.menu a:hover li {
        background-color: #fafafa;
    }

/* Footer
================================================== */

    #footer {
        margin: 20px 0 40px 0;
        padding-top: 10px;
        border-top: 1px solid #ddd;
    }

    #footer p {
        font: 12px georgia, serif;
        color: #aaa;
    }

/* Audio & Video
================================================== */

    .no-js .jp-interface {
        display: none;
    }

    .jp-video,
    .jp-audio {
        width: 100%;
        display: block;
    }

    .jp-jplayer img,
    .jp-jplayer video {
        display: block;
    }

    .jp-interface {
        position: absolute;
        display: block;
        bottom: 0;
        width: 100%;
        height: 35px;
        background: url(images/player-bg.png)repeat;
    }

    .jp-controls-holder {
        width: 100%;
        position: relative;
    }

    .jp-interface ul.jp-controls {
        list-style-type:none;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }

    .jp-interface ul.jp-controls a {
        display: block;
        overflow: hidden;
        text-indent: -9999px;
    }
    a.jp-play,
    a.jp-pause {
        position: absolute;
        top: 12px;
        left: 10px;
        width: 9px;
        height: 12px;
    }

    a.jp-play { background: url(images/play.png) no-repeat; }
    a.jp-pause { background: url(images/pause.png) no-repeat; display: none; }


    .jp-progress,
    .jp-volume-bar {
        position: absolute;
        top: 15px;
        height: 6px;
    }
    .jp-progress {
        left: 30px;
        width: 500px;
    }

    .jp-seek-bar {
        background-color: #c7c7c7;
        height: 100%;
        cursor: pointer;
    }
    .jp-play-bar,
    .jp-volume-bar-value {
        background-color: #5e8cbc;
        width: 0px;
        height: 100%;
    }

    .jp-volume-bar {
        background-color: #c7c7c7;
        width: 80px;
        cursor: pointer;
        top: 15px;
        right: 10px;
    }

    a.jp-mute,
    a.jp-unmute {
        position: absolute;
        top: 12px;
        right: 96px;
        width: 14px;
        height: 12px;
    }

    a.jp-mute { background: url(images/mute.png) top right no-repeat; }
    a.jp-unmute { background: url(images/unmute.png) top right no-repeat; display: none; }

    /* No solution */
    .jp-no-solution {
        background-color: #ffede9;
        border-top: 1px solid #d0a8a0;
        border-bottom: 1px solid #d0a8a0;
        padding: 10px;
    }

/* Slider
================================================== */

    .flex-dum-direction li {
        position: absolute;
        top: 0;
        height: 4000px;
        width: 28px;
        background: url(images/player-bg.png);
        text-indent: -99999px;
    }

    .flex-dum-direction li.prev { left: 0; }
    .flex-dum-direction li.next { right: 0; }

    .flex-direction-nav li .flex-prev,
    .flex-direction-nav li .flex-next {
        position: absolute;
        top: 50%;
        margin-top: -2000px;
        z-index: 101;
        width: 28px;
        height: 4000px;
        text-indent: -99999px;
    }

    .flexslider { background-color: #000; }

    .flex-direction-nav li .flex-prev  { background: url(images/slide-left.png) center center no-repeat; left: 0 }
    .flex-direction-nav li .flex-next { background: url(images/slide-right.png) center center no-repeat; right: 0 }

    .flexslider .slides > li { display: none; -webkit-backface-visibility: hidden; }

    .flexslider .slides img { width: 100%; display: block; }

    .no-js .slides > li:first-child { display: block; }

/* Tabs
================================================== */

    .tab {
        display: block;
        padding: 10px 15px;
        border: 1px solid #ddd;
        box-shadow: 0 2px 3px rgba(0,0,0,0.05);
    }

    ul.tabs li a {
        display: inline-block;
        float: left;
        padding: 8px 10px;
        border: 1px solid #ddd;
        border-bottom: 3px solid #eee;
    }

    ul.tabs li a:hover {
        background-color: #fafafa;
    }

/* #Base 960 Grid
================================================== */

    .container                                  { position: relative; width: 960px; margin: 0 auto; padding: 0;  }
    .container .column,
    .container .columns                         { float: left; display: inline; margin-left: 10px; margin-right: 10px; }
    .row                                        { margin-bottom: 20px; }

    /* Nested Column Classes */
    .column.alpha, .columns.alpha               { margin-left: 0; }
    .column.omega, .columns.omega               { margin-right: 0; }

    /* Base Grid */
    .container .one.column,
    .container .one.columns                     { width: 40px;  }
    .container .two.columns                     { width: 100px; }
    .container .three.columns                   { width: 160px; }
    .container .four.columns                    { width: 220px; }
    .container .five.columns                    { width: 280px; }
    .container .six.columns                     { width: 340px; }
    .container .seven.columns                   { width: 400px; }
    .container .eight.columns                   { width: 460px; }
    .container .nine.columns                    { width: 520px; }
    .container .ten.columns                     { width: 580px; }
    .container .eleven.columns                  { width: 640px; }
    .container .twelve.columns                  { width: 700px; }
    .container .thirteen.columns                { width: 760px; }
    .container .fourteen.columns                { width: 820px; }
    .container .fifteen.columns                 { width: 880px; }
    .container .sixteen.columns                 { width: 940px; }

    .container .one-third.column                { width: 300px; }
    .container .two-thirds.column               { width: 620px; }

    /* Offsets */
    .container .offset-by-one                   { padding-left: 60px;  }
    .container .offset-by-two                   { padding-left: 120px; }
    .container .offset-by-three                 { padding-left: 180px; }
    .container .offset-by-four                  { padding-left: 240px; }
    .container .offset-by-five                  { padding-left: 300px; }
    .container .offset-by-six                   { padding-left: 360px; }
    .container .offset-by-seven                 { padding-left: 420px; }
    .container .offset-by-eight                 { padding-left: 480px; }
    .container .offset-by-nine                  { padding-left: 540px; }
    .container .offset-by-ten                   { padding-left: 600px; }
    .container .offset-by-eleven                { padding-left: 660px; }
    .container .offset-by-twelve                { padding-left: 720px; }
    .container .offset-by-thirteen              { padding-left: 780px; }
    .container .offset-by-fourteen              { padding-left: 840px; }
    .container .offset-by-fifteen               { padding-left: 900px; }

/* #Tablet (Portrait)
================================================== */

    /* Note: Design for a width of 768px */

    @media only screen and (min-width: 768px) and (max-width: 959px) {
        .container                                  { width: 768px; }
        .container .column,
        .container .columns                         { margin-left: 10px; margin-right: 10px;  }
        .column.alpha, .columns.alpha               { margin-left: 0; margin-right: 10px; }
        .column.omega, .columns.omega               { margin-right: 0; margin-left: 10px; }
        .alpha.omega                                { margin-left: 0; margin-right: 0; }

        .container .one.column,
        .container .one.columns                     { width: 28px; }
        .container .two.columns                     { width: 76px; }
        .container .three.columns                   { width: 124px; }
        .container .four.columns                    { width: 172px; }
        .container .five.columns                    { width: 220px; }
        .container .six.columns                     { width: 268px; }
        .container .seven.columns                   { width: 316px; }
        .container .eight.columns                   { width: 364px; }
        .container .nine.columns                    { width: 412px; }
        .container .ten.columns                     { width: 460px; }
        .container .eleven.columns                  { width: 508px; }
        .container .twelve.columns                  { width: 556px; }
        .container .thirteen.columns                { width: 604px; }
        .container .fourteen.columns                { width: 652px; }
        .container .fifteen.columns                 { width: 700px; }
        .container .sixteen.columns                 { width: 748px; }

        .container .one-third.column                { width: 236px; }
        .container .two-thirds.column               { width: 492px; }

        /* Offsets */
        .container .offset-by-one                   { padding-left: 48px; }
        .container .offset-by-two                   { padding-left: 96px; }
        .container .offset-by-three                 { padding-left: 144px; }
        .container .offset-by-four                  { padding-left: 192px; }
        .container .offset-by-five                  { padding-left: 240px; }
        .container .offset-by-six                   { padding-left: 288px; }
        .container .offset-by-seven                 { padding-left: 336px; }
        .container .offset-by-eight                 { padding-left: 384px; }
        .container .offset-by-nine                  { padding-left: 432px; }
        .container .offset-by-ten                   { padding-left: 480px; }
        .container .offset-by-eleven                { padding-left: 528px; }
        .container .offset-by-twelve                { padding-left: 576px; }
        .container .offset-by-thirteen              { padding-left: 624px; }
        .container .offset-by-fourteen              { padding-left: 672px; }
        .container .offset-by-fifteen               { padding-left: 720px; }


        /* More Responsives */
        .jp-progress { width: 312px; }
        #content #comments-list .comment-content { width: 380px; }

    }


/*  #Mobile (Portrait)
================================================== */

    /* Note: Design for a width of 320px */

    @media only screen and (max-width: 767px) {
        .container { width: 300px; }
        .container .columns,
        .container .column { margin: 0; }

        .container .one.column,
        .container .one.columns,
        .container .two.columns,
        .container .three.columns,
        .container .four.columns,
        .container .five.columns,
        .container .six.columns,
        .container .seven.columns,
        .container .eight.columns,
        .container .nine.columns,
        .container .ten.columns,
        .container .eleven.columns,
        .container .twelve.columns,
        .container .thirteen.columns,
        .container .fourteen.columns,
        .container .fifteen.columns,
        .container .sixteen.columns,
        .container .one-third.column,
        .container .two-thirds.column  { width: 300px; }

        /* Offsets */
        .container .offset-by-one,
        .container .offset-by-two,
        .container .offset-by-three,
        .container .offset-by-four,
        .container .offset-by-five,
        .container .offset-by-six,
        .container .offset-by-seven,
        .container .offset-by-eight,
        .container .offset-by-nine,
        .container .offset-by-ten,
        .container .offset-by-eleven,
        .container .offset-by-twelve,
        .container .offset-by-thirteen,
        .container .offset-by-fourteen,
        .container .offset-by-fifteen { padding-left: 0; }

        /* More Responsives */
        .jp-progress { width: 120px; }
        #content #comments-list .comment-content { width: 130px; }

        .jp-volume-bar { width: 60px;  }

        a.jp-mute,
        a.jp-unmute { right: 74px; }

    }


/* #Mobile (Landscape)
================================================== */

    /* Note: Design for a width of 480px */

    @media only screen and (min-width: 480px) and (max-width: 767px) {
        .container { width: 420px; }
        .container .columns,
        .container .column { margin: 0; }

        .container .one.column,
        .container .one.columns,
        .container .two.columns,
        .container .three.columns,
        .container .four.columns,
        .container .five.columns,
        .container .six.columns,
        .container .seven.columns,
        .container .eight.columns,
        .container .nine.columns,
        .container .ten.columns,
        .container .eleven.columns,
        .container .twelve.columns,
        .container .thirteen.columns,
        .container .fourteen.columns,
        .container .fifteen.columns,
        .container .sixteen.columns,
        .container .one-third.column,
        .container .two-thirds.column { width: 420px; }

        /* More Responsives */
        .jp-progress { width: 226px; }
        #content #comments-list .comment-content { width: 240px; }
    }


/* #Clearing
================================================== */

    /* Self Clearing Goodness */
    .container:after { content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; }

    /* Use clearfix class on parent to clear nested columns,
    or wrap each row of columns in a <div class="row"> */
    .clearfix:before,
    .clearfix:after,
    .row:before,
    .row:after {
        content: '\0020';
        display: block;
        overflow: hidden;
        visibility: hidden;
        width: 0;
        height: 0; }
    .row:after,
    .clearfix:after {
      clear: both; }
    .row,
    .clearfix {
        zoom: 1; }

    /* You can also use a <br class="clear" /> to clear columns */
    .clear {
        clear: both;
        display: block;
        overflow: hidden;
        visibility: hidden;
        width: 0;
        height: 0;
    }

