{% extends "base.html" %}
{% load i18n %}

{% block content %}
    <div class="post-wr">
        <div class="post">
            <a href="page.html" class="post-title">
                <h3>Standard Post</h3>
            </a>
            <div class="post-thumbwr">
                <img src="images/tiger.jpg" alt="thumbnail" class="post-thumbnail"/>
            </div>
            <div class="post-content">
                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt.</p>
            </div>
        </div>
        <div class="post-mt">
            <span class="dr">Standard, Text</span>
            <span class="dt">1 days ago</span>
            <span class="at">Jeff Wiliams</span>
        </div>
        <ul class="post-stats">
            <li class="subr" title="You are subscribed to this post"><span></span></li>
            <li class="fire" title="This post is popular"><span></span></li>
            <li class="like" title="You like this post"><span></span></li>
            <li class="comt" title="You commented on this post"><span></span></li>
            <li class="stats-line"></li>
        </ul>
    </div>
{% endblock %}